*.xcuserstate
*.xcuserdata
*.DS_Store
*.xcworkspacedata

*.xcbkptlist

Pig Boxes/Pig Boxes.xcodeproj/xcuserdata/joemiller.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcscheme

Pig Pen/Pig Pen.xcodeproj/project.pbxproj

Pig Pen/Pig Pen.xcodeproj/project.xcworkspace/xcuserdata/joemiller.xcuserdatad/UserInterfaceState.xcuserstate